/Tools/GCC/
/Bin
*.exe
*.dll
*.cache
*.pdb
*.o
*.elf
*.log
*.vmx
*.iso
*.scoreboard
*.editorconfig
*.vdmk
*.dmp
.vscode/
.fleet/
/**/bin/*
/**/obj/*
Tools/VMWare/vmware_mach-*.vmem
Tools/VMWare/AerOS.vmdk
Images/*
!Images/BOOTFS/
